<!DOCTYPE html>
<html>
  <head>
    <title>Doodles Academy</title>
    <%= csrf_meta_tags %>
    <%= yield :stylesheet_includes %>
  </head>

  <body class="body-<%= 'body' %>">
    <div id="wrapper">
      <%= render "shared/header" %>
      <div id="page-container">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
      <%= yield :javascript_includes %>
    </div>
  </body>
</html>
